.flex {
    display: flex;
    margin-left: 50px;
}

.ticket {
    flex: 50%;
}

.brandRight {
    width: 350px;
    height: 70px;
    background: linear-gradient(#EC7A7A, #EC7AB7);
    margin-top: 30px;
    border-bottom-left-radius: 70px;
}


.detailTicketBody {
    margin: auto;;
}

.brandTopRight {
    margin-left: 50px;

}

.iconLeft {
    margin-left: 70px;
}

.shcedule {
    width: 80%;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;

}

.middle {
    display: flex;
}

.middleLeft {
    flex: 50%;
}

.QR {
    margin-top: 120px;
    margin-right: 140px;
}

.line1 {
    height: 200px;
    margin-top: 10px;
    margin-left: 6px;
    margin-bottom: 10px;
}

.leave {
    margin-top: 10px;
    margin-bottom: 140px;
}

.leaveDate {
    margin-left: 70px;
    margin-bottom: 20px;
}

.trainName {
    margin-left: 70px;
}

.middleEnd {
    align-items: center;
    justify-content: center;
    width: 100;
    display: flex;
    border-top: solid;
    border-bottom-style: solid;
}

.ticketDesc {
    justify-content: center;
    width: 90%;
}

.flex1 {
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
}

p, td, th {
    margin-top: 20px;
    font-size: 24px;
    margin-left: 16px;
}

.lastContainer {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
}