.head {
    margin: 15px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.body {
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.table {
    width: 1200px;
    height: 250px;
    margin: auto;
    border: none; 
    box-shadow: 10px gray; 
}

.border {
    border: solid;
    border-color: black;
    border-radius: 10px;
    margin-bottom: 10px;
}