.brand {
    background-color: #EC7AB7;
    width: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 160px;
    border: 1px solid pink;
    padding: 7px;
}

.img {
    color: white;
}

.card {
    margin: auto;
    width: 80%;
    border: 1px solid black;

}

.display {
    display: flex;
}

.line {
    margin-left: 7px;
}

.body {
    display: flex;
}

.topLeft {
    flex: 50%;
}

.kereta {
    margin: 20px;
    margin-bottom: 40px;
}

.button {
    background-color: #EC7AB7 ;
    margin-top: 50px;
}

.ordered {
    width: 100%;
    height: 100%;
}

.orderedBox {
    margin-top: 20px;
    flex: 90%;
}

.ticket {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 50px;
}

.midPart {
    display: flex;
    justify-content: space-evenly
}

.buttonBox {
    flex: 30%;
    justify-content: end;
}