.ticketDetailAdminTopBrand {
    border: none;
    background: linear-gradient(#EC7AB7,#EC7A7A);
    width: 300px;
    border-bottom-right-radius: 10vh;
    padding-left: 10px;
}

.ticketDetailAdminFlexLeft {
    border: solid;
    width: 500px;
    height: 500px;
}

.ticketDetailAdminPrice {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    padding: 20px;
}